body {
    box-sizing :border-box;
    margin: 0;
    padding: 0;
    background-color: cornsilk;
} 


.heading {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-size: 50px;
    padding: 10px;
    margin-top:0;
}
 
div {
    width:400px;
    height:400px;
    background-color: rgb(148, 168, 187);
    margin: auto;
    padding : 80px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 15px;
}

input {
     height: 25px;
    width:250px;
    background-color: lightgray;
    
}
button {
    width: 100px;
    height:30px;
    color:whitesmoke;
    background-color: black;
}